/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      #FF87B2 0%,
      #FFE898 100%
    );
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  /* } */


  .header {
    background-color: #7c97f8;
    height: 80px;
  }
  h2 {
    color: #fdfdfd;
    font-size: larger;
  }
  h3 {
    color: rgba(6, 4, 6, 0.977);
  }
  #h2 {
    background-color: #ffffff;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .main {
    margin: 5%;
  }
  .main .list {
    color: rgba(0, 0, 0, 0.831);
  }
  .main .mainCards {
    margin: 5% ;
  }
  .main .mainCards .mainItem {
    margin-bottom: 50px;
    float: left;
    background-color: #ffffff;
    color: #000000;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main .mainCards .mainItem .button {
    margin-top: 10px;
    margin-left: 80px;
  }
  .main .mainCards .mainItem .diff {
    margin-top: 20px;
    padding-right: 20px;
  }
  .main .mainCards .mainItem2 {
    margin-bottom: 50px ;
    margin-left: 400px ;
    background-color: #fc93d7;
  }
  .main .mainCards .listCard {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .main .mainCards .pages {
    margin-left: 400px;
  }
  body {
    background: linear-gradient(
      90deg,
      #FF87B2 0%,
      #FFE898 100%
    );
    height: 100%;
  }

    
  footer {
    background:#FFE898;
      border-top: 1px solid #eee;
      padding: 1em 3em;
      text-align:center;
    }
  